/* 整體容器 */
.login-container {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  width: 400px;
  margin: 10% auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* 垂直居中 */
}

/* 標題樣式 */
h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

/* 表單樣式 */
.login-form {
  display: flex;
  flex-direction: column; /* 垂直排列 */
  text-align: center;
  padding: 12px;
  border-radius: 8px;
  width: 100%;
}

/* 表單組樣式 */
.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  text-align: center; /* 右對齊標籤文字 */
}

.form-group label {
  font-size: 16px;
  color: #333;
  margin-right: 10px;
  /* background-color: red; */
  width: 60px; /* 固定寬度確保對齊 */
  text-align: right; /* 右對齊標籤文字 */
}

/* 輸入框樣式 */
.form-group input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 40px;
  flex: 1; /* 填滿剩餘空間 */
}

/* 錯誤訊息樣式 */
.error-message {
  color: red;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 10px;
}

/* 提交按鈕樣式 */
.login-button {
  width: 40%;
  padding: 10px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  flex: 1;
  transition: background-color 0.3s ease;
  margin: 0 auto; /* 讓按鈕水平居中 */
  margin-top: 20px;
}

.login-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.login-button:hover:not(:disabled) {
  background-color: #45a049;
}
