.start-booking-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin: 50px auto;
}

h1 {
  text-align: center;
}

.selection-details {
  margin-bottom: 20px;
}

.selection-details p {
  margin: 5px 0;
}

.start-button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.reselect-button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #e53935;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}


.start-button:hover {
  background-color: #45a049;
}

.log-container {
  margin-top: 20px;
}

.log-box {
  background-color: #e9ecef;
  padding: 10px;
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
}

.log-entry {
  background-color: #f1f1f1;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 3px;
}
